# Rust / Cargo
/target/
**/*.rs.bk
Cargo.lock

# Node.js / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Vite / Tauri Frontend
dist/
dist-ssr/
*.local

# Tauri Backend
src-tauri/target/

# makepkg
pkg/arch/pkg
pkg/arch/src
pkg/arch/panoptic
pkg/arch/*.tar.zst
pkg/arch/*.pkg.tar.zst

# OS / Editor
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
.pytest_cache/
